[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == "__main__":
    pass
    raise ImportError
    except ImportError
    if IMPORT_ERROR

[run]
source = andebox
data_file = /tmp/.coverage
