#
# (C) 2025 Alexei Znamensky
# Licensed under the MIT License. See LICENSES/MIT.txt for details.
# SPDX-FileCopyrightText: 2025 Alexei Znamensky
# SPDX-License-Identifier: MIT
#

# Local configuration
.env

# Python build artifacts
dist/*
build/*
*.egg-info

# Venvs
.tox/*
Pipfile*

# Python cache
__pycache__/
*.pyc
.pytest_cache

# IDE settings
.vscode
.idea

# Sphinx build output
docs/_build/
docs/.doctrees/
docs/.buildinfo

# Read the Docs local artifacts
.rtd-environment.yml

# Test artifacts
.coverage
coverage.xml
htmlcov
junit.xml
