# (C) 2025 Alexei Znamensky
# Licensed under the MIT License. See LICENSES/MIT.txt for details.
# SPDX-FileCopyrightText: 2025 Alexei Znamensky
# SPDX-License-Identifier: MIT

name: Test andebox

permissions:
  contents: write

on:
  pull_request:
    branches: [main]
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry lock

      - name: Install all dependencies (including dev)
        run: poetry install --with dev
        env:
          PYO3_USE_ABI3_FORWARD_COMPATIBILITY: 1

      - name: Lint with flake8
        run: poetry run flake8 -v . --count --show-source --statistics

      - name: Run tests
        run: poetry run pytest -v --cov --cov-branch

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
