# (C) 2025 Alexei Znamensky
# Licensed under the MIT License. See LICENSES/MIT.txt for details.
# SPDX-FileCopyrightText: 2025 Alexei Znamensky
# SPDX-License-Identifier: MIT

name: Test andebox

permissions:
  contents: write

on:
  pull_request:
    branches: [main]
  workflow_call:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ansible:
          - stable-2.17
          - stable-2.18
          - stable-2.19
          - stable-2.20
          - devel
        python:
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        exclude:
          # ansible-core 2.17 doesn't support Python 3.13+
          - ansible: stable-2.17
            python: "3.13"
          - ansible: stable-2.17
            python: "3.14"
          # ansible-core 2.18 doesn't support Python 3.14
          - ansible: stable-2.18
            python: "3.14"
          # ansible-core 2.19 doesn't support Python 3.14
          - ansible: stable-2.19
            python: "3.14"
          # ansible-core 2.20 doesn't support Python 3.11
          - ansible: stable-2.20
            python: "3.11"
          # ansible-core 2.21 (devel) doesn't support Python 3.11
          - ansible: devel
            python: "3.11"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install ansible-core (${{ matrix.ansible }})
        run: pip install https://github.com/ansible/ansible/archive/${{ matrix.ansible }}.tar.gz --disable-pip-version-check

      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry lock

      - name: Install all dependencies (including dev)
        run: poetry install --with dev

      - name: Lint with flake8
        run: poetry run flake8 -v . --count --show-source --statistics

      - name: Run tests
        run: poetry run pytest -v --cov --cov-branch

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
