
name: Test andebox

on:
  pull_request:
    branches: [main]
  workflow_call:

permissions:
  contents: read

jobs:
  call-tests:
    uses: ./.github/workflows/ci-tests.yml
    secrets: inherit
  build:
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Test package
        run: tox -e py
